.nav-link{
   padding: 5px 10px;
    text-decoration: none; /* Eliminar subrayado */
    transition: background-color 0.3s, color 0.3s; /* Animación suave */
    border-radius: 10px;
    cursor: pointer;
}

.contact-link{
    padding: 10px 20px;
    background-color: transparent;
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 10px;
}

